@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Poppins:wght@500&display=swap");

:root {
  --Color-primary: hsl(26, 100%, 55%);
  --Color-secondary: hsl(25, 100%, 94%);
  --Color-tertiary: hsl(29, 82%, 58%);
  --Dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

html {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  width: 77%;
  margin: 0 auto;
}

/* ----- Current thumbnail img ---*/
.active,
.lb-active {
  border: 2px solid var(--Color-tertiary);
  border-radius: 12px;
}

.opaque,
.lb-opaque {
  opacity: 0.25;
}

/* ----- dark background on mobile nav ---*/

.dark {
  position: fixed;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}

.dark.is-active {
  opacity: 1;
  visibility: visible;
  z-index: 99;
}

/* ----- Cart Items layout ---*/
.cart-container {
  position: relative;
}

.cart-layout {
  position: absolute;
  transform: translateY(-1.5rem);
  right: -5rem;
  width: 360px;
  height: 250px;
  margin: auto;
  background-color: var(--White);
  border: 1px solid var(--Light-grayish-blue);
  box-shadow: 0px 20px 35px -20px rgb(134, 134, 134);
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  z-index: 50;
}

.cart-layout.active {
  opacity: 1;
  visibility: visible;
}

.cart-title {
  font-weight: 700;
  padding: 1.5rem;
  border-bottom: 1px solid rgb(228, 228, 228);
}

.cart-item {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-weight: 700;
  color: var(--Dark-grayish-blue);
}

.cart-row {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1.5rem;
}

.cart-image-container {
  height: 50px;
  margin-right: 1rem;
}

.cart-image {
  width: 50px;
  height: 100%;
  border-radius: 3px;
}

.cart-item-info {
  height: 50px;
  font-weight: normal;
  padding: 2px 0;
}

.cart-item-price {
  display: inline-block;
  margin-top: 5px;
  letter-spacing: 0.5px;
}

.multiplier,
.total {
  letter-spacing: 0.5px;
}

.total {
  margin-left: 2px;
  font-weight: bold;
  color: var(--Black);
}

.cart-btn-danger {
  position: relative;
  width: 20px;
  height: 20px;
  text-align: center;
  padding-top: 2px;
  top: 1rem;
  right: -0.9rem;
}

.cart-btn-danger:hover {
  cursor: pointer;
}

.trash {
  transition: 0.2s;
}

.trash:hover {
  filter: brightness(0.5);
}

.checkout-btn {
  width: 310px;
  height: 50px;
  bottom: 2rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 0.9rem;
  color: var(--Light-grayish-blue);
  background-color: var(--Color-primary);
  transition: 0.2s;
}

.checkout-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}
/* ----------------- Navigation area -------------------*/
.navbar {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*----- Hamburger Mobile Menu ------*/
.hamburger-container {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  position: relative;
  top: 3px;
  cursor: pointer;
  margin-right: 1rem;
}

.hamburger,
.hamburger-container::before,
.hamburger-container::after {
  content: "";
  width: 15px;
  height: 3px;
  background-color: var(--Dark-grayish-blue);
  transition: all 0.25s;
  z-index: 101;
}

.hamburger-container::before {
  position: absolute;
  top: 0;
}

.hamburger-container::after {
  position: absolute;
  bottom: 0;
}

.hamburger-container.is-active::before {
  transform: translate(0px, 6px) rotate(45deg);
}

.hamburger-container.is-active::after {
  transform: translate(0px, -6px) rotate(-45deg);
}

.hamburger-container.is-active .hamburger {
  animation: slideout 0.5s forwards;
}

@keyframes slideout {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-15px);
    opacity: 0;
  }
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: -60%;
  width: 60%;
  height: 100vh;
  background-color: var(--White);
  z-index: 100;
  transition: 0.5s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-items {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 80px;
}

.item-mob {
  list-style-type: none;
  margin: 1rem 0;
  margin-left: 1.5rem;
  font-weight: 700;
}

/*----- End of Mobile Menu ------*/

.logo {
  font-size: 1.9rem;
  font-weight: 700;
  transform: scale(1.2, 0.95);
  letter-spacing: -2.6px;
  margin-right: 4rem;
  margin-left: 10px;
}

.nav-items {
  height: 100%;
  display: flex;
  align-items: center;
}

.list-items {
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--Dark-grayish-blue);
}

.item {
  list-style-type: none;
  letter-spacing: 0.6px;
  transform: scaleY(0.95);
  transition: color 0.2s;
}

.item:not(:nth-of-type(1)) {
  margin-left: 2rem;
}

.item:hover {
  cursor: pointer;
  color: var(--Dark-blue);
  padding: 53px 0 50px 0;
  border-bottom: 3px solid var(--Color-primary);
}

.nav-icons-area {
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*------- Cart Notification ------- */
.cart-notif {
  width: 19px;
  height: 13px;
  border-radius: 10px;
  font-size: 0.6rem;
  font-weight: 700;
  color: var(--Light-grayish-blue);
  background-color: var(--Color-primary);
  position: absolute;
  transform: translate(-5.4rem, -0.6rem);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  z-index: 50;
}

.cart-notif.active {
  opacity: 1;
  visibility: visible;
}

/*------- icons ------- */
.nav-cart {
  height: 1.3rem;
  width: 1.3rem;
  margin-right: 2.7rem;
  transition: 0.2s;
}

.nav-cart:hover {
  filter: brightness(0.5);
}

.nav-profile {
  height: 50px;
  width: 50px;
}

.nav-cart:hover,
.nav-profile:hover {
  cursor: pointer;
}

.nav-profile:hover {
  outline: 2px solid var(--Color-tertiary);
  border-radius: 50%;
}

/* ----------------- Main area -------------------*/
main {
  display: flex;
}
/* ----------------- Photos area -------------------*/
.product-photos {
  display: flex;
  width: 100%;
  height: 555px;
  flex-direction: column;
  justify-content: space-between;
  margin: 5rem 3rem;
}

.thumbnail-container {
  display: flex;
  justify-content: space-between;
}

.main-slides {
  width: 440px;
  height: 440px;
  list-style-type: none;
  border-radius: 15px;
  position: relative;
}

.main-slide {
  position: absolute;
  opacity: 0;
}

.main-slide[data-main-active] {
  opacity: 1;
}
.main-image {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  cursor: pointer;
}

.thumbnail {
  height: 87px;
  width: 87px;
}

.img-thumb {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}

.img-thumb:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* ------------ Mobile photos area -------------*/
.mobile-photo-container {
  width: 100%;
  height: 300px;
  display: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  width: 50px !important;
  height: 50px !important;
  background-color: var(--White);
  border-radius: 50%;
}

.prev-mob::before,
.prev-mob::after,
.next-mob::before,
.next-mob::after {
  content: "";
  width: 13px;
  height: 4px;
  background-color: var(--Dark-blue);
  position: absolute;
  top: 65%;
  left: 20%;
  transition: 0.2s;
}

.prev-mob {
  transform: translateX(-1px);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
}
/* ----------------- Desc area -------------------*/

.description-area {
  margin: 80px 30px 30px 30px;
  padding: 40px;
  min-width: 400px;
}

.product-company {
  color: var(--Color-tertiary);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
  margin: 1rem 0;
}

.product-name {
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.product-desc {
  margin: 30px 0;
  line-height: 1.7rem;
  color: var(--Dark-grayish-blue);
}

.product-price {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 700;
  transform: scaleY(0.95);
}

.discount {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 5px 8px;
  margin: 0 12px;
  border-radius: 8px;
  vertical-align: 20%;
  color: var(--Color-tertiary);
  background-color: var(--Color-secondary);
}

.previous-price {
  color: var(--Grayish-blue);
  font-weight: 700;
  margin: 10px 0;
  text-decoration-line: line-through;
  letter-spacing: 1px;
}

.add-items-area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.plus-minus {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  background-color: var(--Light-grayish-blue);
  border-radius: 10px;
}

.number {
  font-weight: 700;
}

.add,
.remove {
  padding: 15px;
  transition: opacity 0.2s;
}

.add:hover,
.remove:hover {
  cursor: pointer;
  opacity: 0.6;
}

.add-to-cart {
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  background-color: var(--Color-primary);
  border-radius: 8px;
  color: var(--Light-grayish-blue);
  box-shadow: 0px 15px 40px -15px var(--Color-primary);
  transition: 0.2s;
}

.add-to-cart:hover {
  cursor: pointer;
  opacity: 0.6;
}

.cart {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  transform: scaleY(0.95);
  filter: brightness(3);
}

.cart-desc {
  font-size: 0.95rem;
  font-weight: 700;
}

/* ----------------- Footer area -------------------*/

footer {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  transition: color 0.25s;
}

.attribution a:hover {
  color: var(--Color-primary);
}

/* -------- Media Queries --------*/
@media screen and (max-width: 1300px) {
  .description-area {
    margin: 20px;
    padding-top: 40px;
    min-width: 200px;
  }

  .product-company {
    font-size: 0.7rem;
  }

  .product-name {
    font-size: 2.2rem;
  }

  .product-desc {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1200px) {
  .description-area {
    margin: 0;
    padding-top: 40px;
    min-width: 200px;
  }

  .product-company {
    font-size: 0.6rem;
  }

  .product-name {
    font-size: 2rem;
  }

  .product-desc {
    font-size: 0.9rem;
  }

  .add-items-area {
    flex-wrap: wrap;
  }

  .plus-minus {
    width: 100%;
  }

  .add-to-cart {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (min-width: 601px) {
  .hamburger-container {
    display: none;
  }

  .mobile-nav {
    display: none;
  }

  .dark.is-active {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }

  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .lightbox {
    overflow: hidden;
  }

  .navbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    border-bottom: none;
  }

  .logo {
    margin-right: 2rem;
  }

  .nav-cart {
    margin-right: 1.5rem;
  }

  .nav-profile {
    height: 25px;
    width: 25px;
  }
  /* -------- Cart Media Query --------*/

  .cart-container {
    position: absolute;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cart-layout {
    position: relative;
    transform: translateY(-1rem);
    right: 0;
  }

  .cart-notif {
    transform: translate(-2.6rem, -0.6rem);
  }

  /* -------- Photos Media Query --------*/
  .mobile-photo-container {
    display: block;
  }

  .product-photos {
    display: none;
  }

  .thumbnail-container {
    display: none;
  }

  /* -------- Description Media Query --------*/
  .description-area {
    margin: 0;
    padding: 10px 25px;
    max-width: 600px;
  }

  .product-company {
    font-size: 0.7rem;
  }

  .product-name {
    font-size: 1.8rem;
    margin-bottom: 0;
  }

  .product-desc {
    font-size: 1rem;
    margin: 15px 0;
  }

  .previous-price {
    position: absolute;
    display: inline-block;
    right: 1.7rem;
  }

  .attribution {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 950px) {
  .list-items {
    display: none;
  }
}
/*-------- Lightbox feature --------- */
.lightbox {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.75);
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

.lightbox.is-active {
  opacity: 1;
  visibility: visible;
  z-index: 999;
}

/*---------- lightbox close button ----------- */
.close {
  width: 25px;
  height: 25px;
  position: absolute;
  transform: translate(16rem, -22rem);
  cursor: pointer;
  z-index: 1000;
  margin: auto;
}

.close::before,
.close::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 4px;
  background-color: var(--White);
  transition: 0.2s;
}

.close::before {
  transform: translateY(11px) rotate(45deg);
}

.close::after {
  transform: translateY(11px) rotate(-45deg);
}

.close:hover::before,
.close:hover::after {
  background: var(--Color-primary);
}

/* --------- lightbox main images --------- */
.slides {
  width: 600px;
  height: 650px;
  list-style-type: none;
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}

.slide {
  opacity: 0;
  position: absolute;
  margin: auto;
  transition: opacity 0.2s ease-out;
  transition-delay: 0.1s;
}

.slide[data-active] {
  opacity: 1;
  transition-delay: 0ms;
}

.box-img {
  width: 530px;
  height: 530px;
  border-radius: 15px;
  outline: none;
}

/* -------previous and next buttons -------*/
.slider-button {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: var(--White);
  z-index: 1000;
  cursor: pointer;
  margin: auto;
}

.previous,
.next1,
.prev-mob,
.next-mob {
  width: 20px;
  height: 20px;
  position: relative;
}

.previous::before,
.previous::after,
.next1::before,
.next1::after {
  content: "";
  width: 12px;
  height: 3px;
  background-color: var(--Dark-blue);
  position: absolute;
  top: 65%;
  left: 20%;
  transition: 0.2s;
}

.previous::before,
.prev-mob::before {
  transform: translateY(-8px) rotate(-45deg);
}

.previous::after,
.prev-mob::after {
  transform: translateY(-1px) rotate(45deg);
}

.slider-button.prev:hover .previous::before,
.slider-button.prev:hover .previous::after,
.slider-button.next:hover .next1::before,
.slider-button.next:hover .next1::after {
  background-color: var(--Color-primary);
}

.next1::before,
.next-mob::before {
  transform: translateY(-8px) rotate(45deg);
}

.next1::after,
.next-mob::after {
  transform: translateY(-1px) rotate(-45deg);
}

.slider-button.prev {
  transform: translate(-16.6rem, -4rem);
}

.slider-button.next {
  transform: translate(16.6rem, -4rem);
}

/* ------- Lightbox thumbnails -------*/
.lightbox-thumbnail-container {
  position: absolute;
  transform: translateY(285px);
  width: 500px;
  height: 87px;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.lightbox-thumbnail {
  width: 87px;
  height: 87px;
  z-index: 1000;
  background: var(--White);
  border-radius: 12px;
}

.lb-img-thumb {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.lb-img-thumb:hover {
  opacity: 0.5;
}
